extends layout
block content
    .row(ng-app="almundo")
        .col-xs-12.bgc-indigo-700(class='ph++ pv+ mb+')
            img(src='img/logo-almundo.svg', alt='logo-almundo', height='50')
        .col-xs-12(ng-view='')
