<div class="col-xs-12" style="padding: 0;margin-right: 1.5em;">
        <div class="row card bgc-white mb+">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img ng-if="vm.hotel.image" ng-src="{{'img/hotels/'+vm.hotel.image}}" height="100%" width="100%" alt="img-hotel">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row info-hotel-container">
                    <span class="col-xs-offset-0 col-xs-12 hotel-name">{{vm.hotel.name}}</span>
                    <span class="col-xs-offset-0 col-xs-12 hote-stars">
                        <i class="mdi mdi-star tc-yellow-500" ng-repeat="start in vm.hotel.starts track by $index"></i>
                    </span>
                    <span class="col-xs-offset-0 col-xs-12 hotel-services row mt ml">
                        <img class="mr" ng-repeat="amenite in vm.hotel.amenities" ng-src="{{'img/amenities/'+amenite+'.svg'}}" height="15">
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class=" row price-container">
                    <span class="col-xs-offset-0 col-xs-12 first-row">Precio por noche por habitación</span>
                    <span class="currency">ARS</span>
                    <span class="price">{{vm.hotel.price | number}}</span>
                    <div class="col-xs-offset-0 col-xs-12 p+ btn-view-hotel">
                        <lx-button ng-click="vm.fGoto()" lx-type="raised btn-view-hotel">Inicio</lx-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Vista de inserción de coemntarios-->
<form>
    <div class="car top space">
        <div class="p+">
            <h1>Dejar un comentario</h1>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Nombre">
                        <input type="text" ng-model="vm.nombre">
                    </lx-text-field>
                </div>
            </div>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Comentario">
                        <input type="text" ng-model="vm.comentario">
                    </lx-text-field>
                </div>
            </div>
        </div>
        <div class="card__actions">
            <button type="submit" class="btn btn--blue btn--l btn--raised">
                Guardar
            </button>
        </div>
    </div>
</form>